# maven ignore
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
!.mvn/wrapper/*
*.jar
*.war
*.zip
*.tar
*.tar.gz

# log file ignore
log.home_IS_UNDEFINED/
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### eclipse ignore ###
.settings/
.project
.classpath
*.pydevproject
.metadata
.gradle
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
local.properties
bin/
tmp/.target

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### temp ignore ###
*.log
*.cache
*.diff
*.patch
*.tmp


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows shortcuts
*.lnk